body{
    background-color: rgb(241, 241, 241);

}

header{
    width:101%;
    height: 13%;
    margin-left: -0.5%;
    margin-top: -2%;
}



.contato{

    font-size: 15px;
    margin-top: -1.4%;
    font-family: 'Hammersmith One', sans-serif;
    margin-left: 80%;
    color:rgb(255, 255, 255);
}

.contato:hover{
    font-size: 17px;
    color: rgb(241, 241, 241);
    cursor: pointer;
}


.sobre{
    font-family: 'Hammersmith One', sans-serif;
    margin-top: -6%;
    margin-left: 90%;
    color:rgb(255, 255, 255);
}

.sobre:hover{
    font-size: 17px;
    color: rgb(241, 241, 241);
    cursor: pointer;
}

a:link {
    text-decoration: none;
  }



input {
    margin-left: 160px;
    height: 20px;
    border: 1px solid #003;
    border-width: 0 0 2px 0px;
    background: transparent;


    
}

h1{
    margin-left: 20px;
    margin-top: 25px;
}

h3{
    font-family: 'Hammersmith One', sans-serif;
    font-size: 15px;
    margin-left: 1%;
    margin-right: -30.7%;
    margin-top: 9.5%;
}

h3:hover{
    color: rgb(25, 0, 255);
}

button{
    font-family: 'Hammersmith One', sans-serif;
    font-size: 25px;
    float: left;
    background-color: rgb(255, 87, 33);
    color: white;
    padding: 20px 92px;
    margin-left: 50%;
    margin-top: -2%;
    border:none


}

button:hover{
    background-color: rgb(201, 57, 14);
    cursor: pointer;
   
}


#container{
    background-color: rgba(194, 194, 194, 0);
    width:1100px;
    margin: -8;
    font-size: 30px;
    margin-top: 15px;
}



.imagem{
    margin-left: 550px;
}

.restoDoConteudo{
    font-family: 'Alfa Slab One', cursive;
    margin-left: 50%;

}
 

