.contato2{
    font-family: 'Hammersmith One', sans-serif;
    font-size: 50px;
    margin-top: 0%;
    margin-left: 40%;
    color:rgb(0, 0, 0);
}


.contato2:hover{
    font-size:55px;
}

body{
    background-color: rgb(241, 241, 241);

}

.nome{
    font-family: 'Hammersmith One', sans-serif;
}

.email{
    font-family:  'Hammersmith One', sans-serif;
    margin-top: 2%;
}


.msg1{
    font-family:  'Hammersmith One', sans-serif;
    margin-top: 2%;
    
    
}

.foto{
    margin-left: 30%;
    margin-top: -10%;
}

.input{
    box-shadow: 0 0 0 0;
    outline: 0;
}